.nav-link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Your custom CSS */
.header {
  transition: background-color 0.3s;
}

.header.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white; /* Change this to your desired background color */
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a shadow for a nice effect */
}
