:root {
  --line-border-fill: #1363f6;
  --line-border-empty: #1a1a1a;
  --borderTopColor: #c2c2c2;
}

html {
  background: #ffffff;
  scroll-behavior: smooth;
}

h1 {
  padding: 1rem 0 1rem 0;
}

.navbar {
  background-color: #1c1a23;
}

.btn {
  transition: all 0.1s ease-in;
}

/* .btn:hover {
  border-radius: 5px;
} */

.card-circle {
  background-color: #ffffffc7;
  border-radius: 50%;
  padding: 10px;
}

.review button {
  margin-top: 0;
}

.add-to-cart-btn {
  box-shadow: 5px 5px 10px #8b8b8b, -5px -5px 10px #e2e2e2;
}

.custom-button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 0.5rem;
  background: #3d3a4e;
  background-size: 400%;
  color: #fff;
  border: none;
}

.add-to-cart-btn {
  background: #3d3a4e;
}

.custom-button:hover::before {
  transform: scaleX(1);
}

.custom-button-content {
  position: relative;
  z-index: 1;
}

.custom-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgb(93, 137, 233) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.275s;
}

.back-button {
  display: flex;
  height: 3em;
  width: 100px;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee4b;
  border-radius: 0.5rem;
  letter-spacing: 1px;
  transition: all 0.2s linear;
  cursor: pointer;
  border: none;
  background: #fff;
}

.back-button > svg {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 20px;
  transition: all 0.15s ease-in;
}

.back-button:hover > svg {
  font-size: 1.2em;
  transform: translateX(-5px);
}

.back-button:hover {
  box-shadow: 9px 9px 33px #d1d1d1;
  transform: translateY(-2px);
  z-index: 10;
}

.centered-tabs .nav-item {
  text-align: center;
  display: flex;
  justify-content: center;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-bottom: 2px solid #007bff;
  text-align: center;
  display: flex;
  justify-content: center;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease-in;
}

.tab-text-center {
  justify-content: center;
}

.reviews-position {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.list-group-item {
  border-color: var(--borderTopColor);
}

.form-control::placeholder {
  color: rgb(206, 206, 206);
  padding-left: 0.3rem;
  outline: none;
}

.form-control {
  border-radius: 5px;
}

/* .btn {
  border-radius: 5px;
  padding: 0.5rem 1rem;
} */

.navbar {
  transition: all 1s ease-in;
}

.nav-link {
  display: flex;
  align-items: center;
}

.navbar .nav-link {
  margin-top: 5px;
}

.unselectable {
  user-select: none;
}

.full-width {
  width: 100vw;
}

/* input[type='number'] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: auto;
  max-width: calc(100% - 5px);
} */

/* .no-spinners {
  -webkit-appearance: none !important;
  -moz-appearance: textfield !important;
  appearance: textfield !important;
  width: auto;
} */

.no-pd-mr {
  padding: 0;
  margin: 0;
}

.btn-full-w {
  width: 100%;
}

.btn-details {
  padding: 2px 5px;
}

.btn-primary:hover {
  position: relative;
}

.btn-primary:hover {
  background: #007bff;
}

.btn-primary:hover::after {
}

.card .btn-full-w {
  border-radius: 0 0 5px 5px;
}

.card .btn-full-w:hover {
  background: #007bff;
}

.filter-btn {
  position: fixed;
  top: 70px;
  padding: 10px 10px;
  z-index: 5;
  background-color: #727272;
  opacity: 0.4;
  transition: all 0.2s ease-in;
}

.filter-btn:hover {
  opacity: 1;
}

/* .card-body {
  background-color: #faf8f8;
  border: 1px solid #dcdcdc;
  border-radius: 5px 5px 0 0;
} */

/* Checkout Steps */

.progress-container-main {
  position: relative;
  bottom: 0px;
  left: 0;
  z-index: 100;
}

.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  bottom: 0;
  left: 0;
  /* transform: translateY(-50%); */
  height: 5px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

.nav-tabs {
  background: transparent;
}

.nav-tabs .nav-link {
  border: none;
}

.footer-social-icon {
  color: #ffffff;
  transition: all 0.1s ease-in;
}

.footer-social-icon:hover {
  color: var(--line-border-fill);
}

.footer-social-text {
  color: #727272;
  transition: all 0.1s ease-in;
}

.footer-social-text:hover {
  color: var(--line-border-fill);
}

.svg-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-center svg {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  transform: translateX(20%);
}

.card-shadow:hover {
  box-shadow: 0px -5px 30px rgba(0, 0, 0, 0.2);
  transition: all 0.4s;
}

.modal-backdrop,
.show {
  opacity: 1;
  backdrop-filter: blur(2px);
}

.card {
  border-color: #ededed;
}
.card-img-top {
  user-select: none;
  margin-top: 20px;
}

.container {
  /* max-width: 2400px; */
  /* padding: 0 10vw 0 10vw; */
  z-index: 3;
}

.btn-loading {
  width: 140px;
  height: 40px;
}

.svg-success {
  max-width: 40%;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.delete-spinner {
  background-color: #ffffff;
  position: absolute;
  top: 40%;
  left: 42%;
}

.container-dashboard .nav-pills .nav-link {
  margin: 0px;
  /* padding: 0px; */
}

.container-dashboard .tab-content {
  margin: 0px;
  padding: 0px;
}

.container-dashboard {
  width: 100%;
}

/* Default padding for screens wider than 2400px */
.container {
  max-width: 2400px;
  padding: 0 10vw;
  z-index: 3;
}

/* Media query for screens between 1200px and 2400px wide */
@media (min-width: 1200px) and (max-width: 2400px) {
  .container {
    padding: 0 5vw;
  }
}

/* Media query for screens narrower than 1200px */
@media (max-width: 1199px) {
  .container {
    padding: 0 3vw;
  }
}

.pagination {
  flex-wrap: wrap;
  vertical-align: middle;
}

.page-size-dropdown {
  display: flex;
  align-items: center;
}

/* Style for the select element */
.page-size-dropdown select {
  /* Define the width and padding */
  /* width: 100%; */
  padding: 0.5rem;
  text-align: center;

  /* Define border styles */
  border: 1px solid #ccc;
  border-radius: 4px;

  /* Define background and text color */
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);

  /* Define cursor style */
  cursor: pointer;

  /* Remove default styles */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.page-size-dropdown select option {
  /* Define background and text color for options */
  /* background-color: white; */
  color: black;
  border-radius: 5px; /* Added border-radius */
  text-align: center;
}

.offcanvas-backdrop.show {
  opacity: 0;
}

/* .custom-google-button {
  background-color: #4285f4; 
  color: #fff; 
  border: none; 
  padding: 10px 20px; 
  font-size: 16px; 
  border-radius: 5px; 
  cursor: pointer; 
}

.custom-google-button:hover {
  background-color: #357abd; 
}

.checkmark {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.checkmark-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: green; 
  font-size: 16px; 
} */

/* .active.nav-link.active {
  margin-bottom: 4px;
} */

.nav-link {
  margin-bottom: 4px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #1a1a1a !important;
  transition: background-color 1s ease-in-out 0s;
  background-color: #1a1a1a !important;
}

.accordion-button {
  background: #f7f7f9;
}

.accordion-button[aria-expanded='true'] {
  background: #f7f7f9;
}

.navbar {
  padding: 0.3rem;
}

/* FOCUS STATES */

textarea:focus,
input[type='text']:focus,
input[type='password']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='date']:focus,
input[type='month']:focus,
input[type='time']:focus,
input[type='week']:focus,
input[type='number']:focus,
input[type='email']:focus,
input[type='url']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='color']:focus,
.uneditable-input:focus {
  border-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.3);
  outline: 0 none;
}

/* .btn:focus {
  border-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.6);
  outline: 0 none;
} */

/* .nav-link:focus {
  border-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.6);
  outline: 0 none;
} */

/* *:focus {
  border-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.6);
  outline: 0 none;
} */
