.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #71797d;
  background-color: #fff;
  border-radius: 5px;
}

.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
  /* display: none; */
}

.rating span {
  margin: 0.1rem;
}
